body {
  margin: 0;
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
  font-family: Roboto flex;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #F8F4E3;
  padding: 100px 15px;
}

.heroImg img {
width: 287px;
flex-shrink: 0;
}

.content {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #FCAEC1;
  text-align: left;
}

.aboutText {
  padding: 4%;
}

.resumePhoto {
  background-color: #FCAEC1;
  height: 439px;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

h1 {
  color: #1F2421;
  font-family: Spectral;
  font-size: 54.93px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #1F2421;
  font-family: Roboto Flex;
  font-size: 35.16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sectionTitle {
  text-align: center;
  font-family: Spectral;
}

p {
  color: #000;
  font-family: Roboto Flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.myWork p {
  padding-right: 30px;
}
.flexContainer {
  display: flex;
}

.flexContainer div {
  width: 33%;
  padding: 15px;
  margin: 80px;
}

.icon {
  width: 158.52px;
  height: 158.52px;
  flex-shrink: 0;
  transition: opacity 0.3s ease-in-out;
}

.workGrid {
  display: grid;
  margin: 50px;
  padding: 50px;
}

.project1 {
  grid-area: myArea;
}

.project2 {
  grid-area: yourArea;
}

.gridContainer {
  display: grid;
  grid-template-areas: 'myArea yourArea';
}


.viewProjects {
  text-align: center;
}

footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}


@media only screen and (max-width: 600px) {
  .flexContainer {
    margin: 0px 5%;
    display: flex;
    flex-direction: column;
    .skillsTile {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .gridContainer {
    margin: 0px 5%;
    display: flex;
    flex-direction: column;
    .skillsTile {
      width: 70%;
    }
  }
}